*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  min-width: 100% ;
  min-height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5em;
  min-width: 100vw;
  align-content: center;
}